body { background: #582404; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 18px; display: flex; }
.block-shipping-0 { color: #99c31d; font-size: 16px; margin-bottom: 5px; }
.block-user-1 { color: #f85fa6; font-size: 14px; margin-bottom: 5px; }
.block-product-2 { color: #a5805c; font-size: 20px; margin-bottom: 5px; }
.block-email-3 { color: #4f66f2; font-size: 16px; margin-bottom: 5px; }
.block-invoice-4 { color: #aecf00; font-size: 15px; margin-bottom: 5px; }